*.class
.idea
*.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.jpg
*.jpeg
*.png

*.mp3
*.wav
*.ogg

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
AdminLTE-2.3.0/