{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    {{ artwork.title }}
{% endblock %}
{% block scripts %}
    <script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/MyScripts.js' %}"></script>
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content col-md-12">

        <!-- Default box -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#info" data-toggle="tab" aria-expanded="true">Info</a></li>
                {% if user == artwork.author.user %}
                    <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="info">
                    <h3 class="box-title">{{ artwork.title }} <a id="{{ artwork.id }}-like-yes" href="#"
                                                                 onclick="like(this)" name="like"
                                                                 class="link-black pull-right"><i
                            class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></h3>
                    <h4> Author: <a class="link-black"
                                    href="{% url 'user_profile' artwork.author.user.id %}">{{ artwork.author.user.username }}</a>
                        <a href="#" onclick="follow_a(this)" id="{{ artwork.author.user.id }}-follow-yes"
                           name="follow"
                           class="link-black pull-right"><i
                                class="fa fa-star-o margin-r-5"></i> Follow</a></h4>

                    <div class="box-body">
                        {% if artwork.type == "music" %}
                            <div class="col-md-3">
                                {% if artwork.mtrack.image %}

                                    <img class="img-responsive" src="{{ artwork.mtrack.image.url }}">

                                {% endif %}
                                <audio src="{{ artwork.mtrack.content.url }}" controls="controls"
                                       preload="auto" style="width: 100%"></audio>
                            </div>
                            <div class="col-md-9">
                                <p style="white-space: pre-wrap">{{ artwork.mtrack.description }}</p>
                            </div>
                        {% elif artwork.type == "picture" %}
                            <div class="col-md-6">

                                <img class="img-responsive img-bordered"
                                     src="{{ artwork.picture.content.url }}">
                            </div>
                            <div class="col-md-6">
                                <p style="white-space: pre-wrap">{{ artwork.mtrack.description }}</p>
                            </div>
                        {% elif artwork.type == "litra" %}
                            <p style="white-space: pre-wrap">{{ artwork.literature.content }}</p>
                        {% endif %}
                    </div>
                    <hr/>

                    <hr/>
                    <form class="form-horizontal" method="post">{% csrf_token %}
                        <div class="form-group margin-bottom-none">
                            <div class="col-sm-9">
                                <input name="text_comment" class="form-control input-sm"
                                       placeholder="Type your comment">
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-soundcloud pull-right btn-block btn-sm">Send</button>
                            </div>
                        </div>
                    </form>

                    <hr/>
                    <h3 class="box-title">Comments</h3>
                    <hr/>

                    {% for comment in comments %}
                        <!-- Comment -->
                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm img-cropped"
                                     src="{{ comment.publisher.avatar.url }}"
                                     alt="user image">
                        <span class="username">
                          <a href="#">{{ comment.publisher.user.username }}</a>
                        </span>
                                <span class="description">{{ comment.pub_date }}</span>
                            </div><!-- /.user-block -->
                            <p style="white-space: pre-wrap">{{ comment.text }}</p>
                        </div><!-- /.comment -->

                    {% endfor %}
                </div><!-- /.tab-pane -->


                <div class="tab-pane" id="settings">
                    <form class="form-horizontal" method="post" action="{% url 'artwork_update' artwork.id %}"
                          enctype="multipart/form-data">{% csrf_token %}

                        <div class="form-group"><label class="col-md-2 control-label" for="id_title">Title</label>
                            <div class="col-md-10"><input class="form-control" id="id_title" name="title"
                                                          placeholder="Title" title="" type="text"
                                                          value="{{ artwork.title }}"></div>
                        </div>
                        {% if artwork.type == "music" %}
                            <div class="form-group"><label class="col-md-2 control-label"
                                                           for="id_image">Image</label>
                                <div class="col-md-10">
                                    <div class="row bootstrap3-multi-input">
                                        <div class="col-xs-12"><input class="" id="id_image" name="image" title=""
                                                                      type="file"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group"><label class="col-md-2 control-label"
                                                       for="id_description">Description</label>
                            <div class="col-md-10"><textarea class="form-control" cols="40" id="id_description"
                                                             name="description" placeholder="Description" rows="10"
                                                             title="">{% if artwork.type == "music" %}
                                {{ artwork.mtrack.description }}
                            {% elif artwork.type == "picture" %}
                                {{ artwork.picture.description }}{% elif artwork.type == "litra" %}
                                {{ artwork.litra.description }}{% endif %}
                                </textarea></div>
                        </div>

                        <div class="form-group ">
                            <div class="col-md-11"></div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-soundcloud pull-right">Save changes
                                </button>
                            </div>

                        </div>
                    </form>
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div><!-- /.nav-tabs-custom -->

    </section><!-- /.content -->


{% endblock %}