{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper bg-music" style="background-image: {% static 'music.jpg' %}">
        <!-- Content Header (Page header) -->
        {% for artwork in artworks %}

            <!-- Main content -->
            {% if artwork.type == "music" %}

                <section class="content col-md-3">
            {% elif artwork.type == "picture" %}
                <section class="content col-md-4">
            {% endif %}


        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ artwork.title }} </h3> <small>by {{ artwork.author.user.username }}</small>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i
                                class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                {% if artwork.type == "music" %}
                    {% if artwork.mtrack.image %}

                        <img class="img-responsive" src="{{ artwork.mtrack.image.url }}">
                    {% endif %}
                    <audio id="player{{ artwork.id }}" src="{{ artwork.mtrack.content.url }}" controls
                           preload="none" class="audio-control" ></audio>
                {% elif artwork.type == "picture" %}
                    <img class="img-responsive" src="{{ artwork.picture.content.url }}">
                {% endif %}
            </div><!-- /.box-body -->
        </div><!-- /.box -->

        </section><!-- /.content -->
        {% endfor %}

    </div><!-- /.content-wrapper -->

{% endblock %}